* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #0d1117;
    color: #c9d1d9;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container {
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.title {
    font-size: 2.3rem;
    color: #4ade80;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 1rem;
    margin-bottom: 25px;
    color: #9ab9a3;
}

.card {
    background: #161b22;
    border: 1px solid #30363d;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 15px;
}

.option {
    background: #1f6feb;
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.option:hover {
    background: #2ea043;
}

.btn {
    background: #238636;
    padding: 12px 25px;
    border: none;
    color: white;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 25px;
}

.btn:hover {
    background: #2ea043;
}

.progress-box {
    margin-top: 20px;
}

.progress-bar {
    width: 100%;
    height: 15px;
    background: #30363d;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}

#progress {
    width: 0%;
    height: 100%;
    background: #4ade80;
    transition: 0.4s;
}

